* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.top-section {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  background-color: #1f2937;
}

.header-logo a {
  font-size: 24px;
  color: #f9faf8;
}

.menu ul {
  display: flex;
}

.menu li {
  margin: 0 10px 0 10px;
}

.menu a {
  font-size: 18px;
  color: #e5e7eb;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.content-description {
  display: flex;
  flex-direction: column;
  margin-left: 145px;
}

.content-description h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.content-description p {
  font-size: 18px;
  color: #e5e7eb;
}

.content-description button {
  font-size: 18px;
  font-weight: bold;
  color: #e5e7eb;
  background-color: #3882f6;
  border: 1px #3882f6;
  border-radius: 7px;
  width: 90px;
  height: 30px;
  margin-top: 10px;
}

.content-image {
  margin-right: 160px;
}

.main-info-section {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.main-info-section h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}

.main-info {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.image-placeholder {
  border: 4px solid #3882f6;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.info-content p {
  text-align: center;
  padding-top: 10px;
}

.quote-content {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote-content h3 {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  text-align: justify;
}

.quote-content p {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  margin-right: -590px;
}

.action-container {
  display: flex;
  background-color: #3882f6;
  border: 1px #e5e7eb;
  border-radius: 7px;
  margin: 100px 450px 100px 450px;
  padding: 30px 10px 30px 10px;
}

.text-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.text-action h4 {
  color: #e5e7eb;
  padding-left: 90px;
}

.text-action h6 {
  color: #e5e7eb;
  font-weight: lighter;
  padding-left: 90px;
}

.signup-action {
  display: flex;
  justify-content: center;
  padding-left: 350px;
}

.signup-action button {
  width: 90px;
  height: 25px;
  color: #e5e7eb;
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 25px;
}
